h1 {
	margin: 0 0 0 0px;
	font-family: Helvetica, monospace;
	color: black;
	font-weight: 700;
	font-size: 65px;
	position: absolute;
 	top: 0px;
	left: 33%;
	z-index: 2;
	padding: 10px 0 10px 0px;
}
h2  {
	margin: 0 0 0 0px;
	font-family: Helvetica, monospace;
	color: #56B750;
	font-weight: 700;
	font-size: 65px;
	position: absolute;
 	top: 0px;
	left:32.6%;
	z-index: 1;
	padding: 10px 0 10px 0px;
}
th {
	font-family: Helvetica, monospace;
	border: 3px double black;
	font-size: 17px;
	padding: 5px 5px 5px 5px;

}
td {
	font-family: monospace;
	border: 1px solid black;
	cursor: pointer;
	font-size: 15px;

}
table {
	background-color: #F4FF8C;
	align: left;
	width: 100%;
}
#table {
	z-index: 1;
}
#link {
	position: absolute;
	top: 10px;
	right: 3%;
	z-index: 1;
	font-family: monospace;
	font-size: 14px;
}
#mapid {
	height: 97vh;
	z-index: 0;
}
.collapsible {
	padding: 0 0 0 0px;
	min-width: 400px;
	width: 80%;
	z-index: 1;

}
.collapsible label {
	position: absolute;
	top: 95%;
	font-family: Helvetica, monospace;
	font-size: 20x;
	display: block;
	cursor: pointer;
	width: 130px;
	border: 1px solid black;
	padding: 5px 0 5px 5px;
	background-color: #56B750;
	margin: 5px;
	z-index: 1;
}

input#show_routes {
	display: none;
}
.route {

}
.table {
	max-width: 0;
	overflow: hidden;
	padding: 5px 0 0 0px;
	transition: 0.2s;
	position: absolute;
	bottom: 10%;
}
<!-- Toggle Collapse of Graph -->
input:checked ~ label {
	background-color: black;
}
input:checked ~ .table {
	max-width: 100%;
	transition: 0.1s;
}
