h1 {
	margin: 0 0 0 0px;
	font-family: Rubik, Helvetica, monospace;	
	color: #56B750;
	font-weight: 700;
	font-size: 65px;
	padding: 10px 0 10px 0px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
th{
	font-family: Helvetica, monospace;
	border: 3px double black;
}
td {
	font-family: monospace;
	border: 1px solid black;
	cursor: pointer;

}
table {
	background-color: #F4FF8C;
	align: left;
}
body {
}
#mapid { 
	height: 600px;
}
.collapsible {
	padding: 0 0 0 0px;
	min-width: 400px;
	width: 30%;
}
.collapsible label {
	font-family: Helvetica, monospace;
	font-size: 20x;
	display: block;
	cursor: pointer;
	width: 105px;
	border: 1px solid black;
	padding: 5px 0 5px 5px;
	background-color: #56B750;
	margin: 5px;
}
input#show_routes {
	display: none;
}
.route {
	
}
.table {
	max-width: 0;
	overflow: hidden;
	padding: 5px 0 0 0px;
	transition: 0.5s;
}
<!-- Toggle Collapse of Graph -->
input:checked ~ label {
	background-color: black;
}
input:checked ~ .table {
	max-width: 100%;
	transition: 0.1s;
}
